{% load static %}
<!DOCTYPE html>
<!-- ESTE CODIGO HTML ES LEJIMIMO DE VEIDER CUALQUIER COPIA SERA DENINCIADA Y ELIMINADA DEJA DERECHOS DE AUTOR-->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><script type="text/javascript" async="" src="https://chegadepublicidade.com.br:6002/api/health.check?1488740618989" id="cdp_healthcheck" data-cdp-uid="f985d3c7-19f3-687f-e6ee-99a78d7ddc89"></script>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="JUEGO OFFLINE CREADO PARA TODOS LOS QUE NO TIENEN CONEXION A INTERNET COPYRIGHT VEIDER">
    <meta name="keywords" content="agario, agar, io, cell, cells, virus, bacteria, blob, game, games, web game, html5, fun, flash">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>VEIDER.IO</title>

   <link id="favicon" rel="icon" type="image/png" href="assets/img/favicon.png" />
    <link href="{% static '/css' %}" rel="stylesheet" type="text/css">
    <link href="{% static '/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/index.css' %}" rel="stylesheet">

    <script src="{% static '/jquery-1.11.3.min.js.descarga' %}"></script>
    <script src="{% static '/log.js.descarga' %}"></script>
    <script src="{% static '/vector.js.descarga' %}"></script>
    <script src="{% static '/main_out.js.descarga' %}"></script> 
<script>
window.addEventListener('keydown', keydown);

window.addEventListener('keyup', keyup);
var Feed = false;
var Dingus = false;
var imlost = 25;
function load() {
    if (document.getElementById("overlays").style.display!="none") {
        document.getElementById("settings").style.display = "block";
        if (document.getElementById('showMass').checked) {document.getElementById('showMass').click();}
        document.getElementById('showMass').click();
        if (document.getElementById('darkTheme').checked) {document.getElementById('darkTheme').click();}
        document.getElementById('darkTheme').click();
       
    } else {
        setTimeout(load, 100);
    }

} 
                                                                            function keydown(event) {
                                                                           if (event.keyCode == 87) {
                                                                                 Feed = true;
                                                                    setTimeout(fukherriteindapussie, imlost);
    }                                                                         // Tricksplit= E  -
                                                               if (event.keyCode == 81 || event.keyCode === false) {
                                                                                  ilikedick();
                                                                         setTimeout(ilikedick, imlost);
                                                                        setTimeout(ilikedick, imlost*2);
                                                                        setTimeout(ilikedick, imlost*3);
    }                                                                       // Triplesplit= D / 2 -
                                                                  if (event.keyCode == 50 || event.keyCode == 68) {
                                                                                   ilikedick();
                                                                          setTimeout(ilikedick, imlost);
                                                                         setTimeout(ilikedick, imlost*2);                                                     
    }
//                                                     -------------------- Feed And Split By 5A LD --------------------
}
                                                                            function keyup(event) {
                                                                           if (event.keyCode == 87) {
                                                                                 Feed = false;
                                                                                                    }
                                                                           if (event.keyCode == 79) {
                                                                                 Dingus = false;
    }
}

                                                                       function fukherriteindapussie() {
                                                                                 if (Feed) {
                                                                       window.onkeydown({keyCode: 87});
                                                                        window.onkeyup({keyCode: 87});
                                                                   setTimeout(fukherriteindapussie, imlost);
    }
}
                                                                            function ilikedick() {
                                                           $("body").trigger($.Event("keydown", { keyCode: 32}));
                                                            $("body").trigger($.Event("keyup", { keyCode: 32}));
}</script></head>


<body>
    <div class="modal fade" id="inPageModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 id="inPageModalTitle" class="modal-title">Failed to Load</h4>
                </div>
                <div id="inPageModalBody" class="modal-body">
                    <p>Failed to load. Please check your connection!</p>
                    <div class="center">
                        <div class="loader"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="overlays" style="display: block;">
        <div id="helloDialog">
            <form role="form">
                <div class="form-group">                                 
                    <h2 id="title"><CENTER><img src="{% static '/ogarbot.png' %}" alt="OGARBOT" /></CENTER></h2>
                </div>

                <div class="form-group">
                    <input id="nick" class="form-control save" data-box-id="0" placeholder="Nick" maxlength="15">
                    <select id="gamemode" class="form-control" onchange="setserver($(this).val());" required="">
                        <option selected="" disabled="">SERVIDORES:</option>
                        <option value="127.0.0.1:8081">SERVER OFFLINE</option>
                    </select>
                    <br clear="both">
                </div>

                <div class="form-group">
                  <!--  <div class="mb-10">
                        <a data-toggle="modal" data-target="#inPageModal" onclick="openSkinsList();" class="btn-primary btn btn-info" role="button" style="width: 100%;">Skins Gallery</a>
                    </div>
-->
                    <button type="submit" id="play-btn" onclick="setNick(document.getElementById(&#39;nick&#39;).value); return false;" class="btn btn-play btn-success btn-needs-server">Play</button>
                    <button onclick="$(&#39;#settings, #instructions&#39;).toggle(); return false;" class="btn btn-info btn-settings" id="settings-btn"><i class="glyphicon glyphicon-cog"></i></button>
                    <br clear="both">
                </div>

                <div id="settings" class="checkbox" style="display:none;">
                    <div class="form-group" id="mainform">
                        <button id="spectate-btn" onclick="spectate(); return false;" style="width: 100%" class="btn btn-warning btn-spectate btn-needs-server">Spectate
                        </button>
                        <br clear="both">
                    </div>
                    <div style="margin: 6px;">
                        <label>
                            <input type="checkbox" class="save" data-box-id="1" onchange="setSkins(!$(this).is(&#39;:checked&#39;));"> No skins</label>
                        <label>
                            <input type="checkbox" class="save" data-box-id="2" onchange="setNames(!$(this).is(&#39;:checked&#39;));"> No names</label>
                        <label>
                            <input type="checkbox" class="save" data-box-id="3" onchange="setDarkTheme($(this).is(&#39;:checked&#39;));"> Dark Theme</label>
                        <label>
                            <input type="checkbox" class="save" data-box-id="4" onchange="setColors($(this).is(&#39;:checked&#39;));"> No colors</label>
                        <label>
                            <input type="checkbox" class="save" data-box-id="5" onchange="setShowMass($(this).is(&#39;:checked&#39;));"> Show mass</label>
                        <label>
                            <input type="checkbox" class="save" data-box-id="6" onchange="setSmooth($(this).is(&#39;:checked&#39;));"> Smooth Render</label>
                        <label>
                            <input type="checkbox" class="save" data-box-id="7" onchange="setChatHide($(this).is(&#39;:checked&#39;));"> Hide Chat</label>
                    </div>
                </div>
            </form>

            <div id="instructions">
                <hr>
                <center>
                    <span class="text-muted">
                        Move your mouse to control your cell<br>
                        Press <b>Space</b> to split<br>
                        Hold <b>W</b> to Macro W<br>
						Press <b>E</b> to Split Bot<br>
						Press <b>R</b> to Feed From Bot<br>
						Press <b>D</b> to Double split<br>
						Press <b>Q</b> to Tricksplit Your Cell<br>
						press <b>P</b> to collect pellets<br>
                    </span>
                </center>
            </div>

            <hr>
            <div id="footer">
               <center><a href="https://www.youtube.com/channel/UCXN0zApg5Bpev411PmDJZxQ?sub_confirmation=1" target="_blank" >Copyright by veider </a></center>
               <button id="yt-btn" onclick="window.open('https://www.youtube.com/channel/UCXN0zApg5Bpev411PmDJZxQ?sub_confirmation=1')" style="width: 28%!important;float: left!important;background:#FF0000;border: #fff;margin-top: -5px;color: #fff;margin-left: 3px;" class="btn btn-needs-server">YOUTUBE</button>

               <button id="twitter-btn" onclick="window.open(&#39;https://www.facebook.com/VEIDERYT/&#39;)" style="width: 28%!important;margin-left: 1px;float: right!important;background: #1c01ec;border: #fff;margin-top: -5px;color: #fff;" class="btn btn-needs-server"><span>Facebook</span></button>
            </div>

        </div>
    </div>

    <div id="connecting" style="display: block;">
        <div style="width: 350px; background-color: #FFFFFF; margin: 100px auto; border-radius: 15px; padding: 5px 15px 5px 15px;">
            <h2>Connecting</h2>
            <p> If you cannot connect to the servers, check if you have some anti virus or firewall blocking the connection.</p>
        </div>
    </div>

    <canvas id="canvas" width="1366" height="613"></canvas>
    <input type="text" id="chat_textbox" placeholder="Press enter to chat!" maxlength="200">
    <div style="font-family:&#39;Ubuntu&#39;">&nbsp;</div>

    <script src="{% static '/bootstrap.min.js.descarga' %}"></script>


<div id="cdp-is-installed" style="display: none;"></div></body></html>